    body {
        box-sizing: border-box;
        width: 1034px;
        margin: 0 auto;
        font-family: opensans, "Hiragino Sans GB", "STHeiti", Helvetica, "Microsoft Yahei", 微软雅黑, 黑体, 新細明體, Arial, "Lucida Grande", sans-serif;
    }
    
    @media screen and (max-width: 1024px) {
      body {
        box-sizing: border-box;
        width: 960px;
        margin: 0 auto;
      }
    }

    @media screen and (max-width: 960px) {
      body {
        box-sizing: border-box;
        width: 900px;
        margin: 0 20px;
      }
    }

    header {
      border-bottom: 1px solid rgb(214, 214, 214);
    }

    .logo {
      height: 40px;
      width: auto;
      padding-top : 35px;
      margin-bottom: 20px;
    }
    .navigation {
      display: inline-block;
      float: right;
      margin-top: 50px;
    }
    .navigation ul {
      list-style: none;
    }
    .navigation > ul > li {
      float: right;
    }

    .navigation a {
      color: #929292;
      font-size: 14px;
      text-decoration: none;
      margin-right: 30px;
      padding-bottom: 15px;      
      /* border-bottom: 1px solid #232323; */
    }
    a.active {
      color: black;
      border-bottom: 1px solid #232323;
    }
    .navigation a:hover {
      color: black;
    }

    .container {
      width: 100%;
      margin-top: 30px;
    }
    .info {
      width: 50%;
      color: rgb(35, 35, 35);
      font-size: 14px;
      line-height: 22.4px;
    }
    .bussinessshow {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 0px;      
    }

    .bussinessshow > figure {
      margin: 0;
      padding: 20px 2%;
    }
    .bussinessshow :first-child {
      padding-left: 0;
    }
    
    .bussinessshow :nth-child(3n+1) {
      padding-left: 0;
    }

    .bussinessshow :nth-child(3n) {
      padding-right: 0;
    }

    .bussinessshow figure {
      width: 30%;     
    }
    .bussinessshow img {
      width: 100%;
      filter: grayscale(100%);
    }
    
    .bussinessshow img:hover {
      width: 100%;
      filter: grayscale(0%);
    }
    
    .bussinessshow a {
      text-decoration: none;
      font-size: 12px;
    }
        figure a {
      color: grey;
    }

    figure:hover a {
      color: black;
    }

    figure:hover .left-pic-show {
      display: block;
      width: 200px;
      height: 200px;
      z-index: 99;
    }
    .left-pic-show span {
      color: black;
      font-size: 20px;
      line-height: 36px;
    }

    .left-pic-show img {
      border: 1px solid grey;
      filter: grayscale(0%);
    }
    .bussinessshow:after {
      content: "";
      flex: auto;
    }
    footer {
      margin-bottom: 20px;
    }
    footer  span {
      font-size: 12px;
      line-height: 22.4px;
      color: rgb(146, 146, 146);
    }
    .company-name {
      font-size: 16px;
      line-height: 22.4px;
    }


    /* tab-swith */
    ul, dl, li, dt, dd {
      list-style: none;
    }

    .temp_dl_dt_ul_li:hover {
      background: #929292;
      color: #fff
    }

    .temp_dl_dt_ul {
      width: 100%;  
      padding: 0;
      margin-top: 30px;
      display: inline-flex;
      flex-wrap: wrap;
    }

    .temp_dl_dt_ul_li {
      width: 120px;
      color: #999999;
      font-size: 16px;
      line-height: 36px;
      text-align: center;
      font-weight: normal;
      cursor: pointer;
      margin: 0 10px 10px 0;
      border: 1px solid #ddd;
    }

    .temp_dl_dt_ul_li.active {
      color: #ffffff;
      background: #929292;
      border: 1px solid #929292;  
    }

    .left-pic-show {
      position: fixed;
      bottom: 20%;
      animation: wechatShow 0.5s;
      animation-fill-mode: forwards;
      display: none;
      text-align: center;
    }



    @keyframes wechatShow
    {
      from {
        right: -20px;
      }
      to { 
        right: 20px;
      }
    }
